
*{ box-sizing:border-box; }
.container{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height:100%;
    background-color:rgb(39, 36, 47);
}

.col {
    width: 100%;
}
 
.form-group{
    width:100%;
}
.top{
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color:rgb(39, 36, 47);
    margin:0px;
    align-items:center;
    justify-content: center;
    padding:3% 5%;
    box-shadow:0 1px 1px rgba(0,0,0,.5);
}

.site-title{
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    width:100%;
    color:#FFCF13;
    font-family: restore, sans-serif;
    font-weight: 700;
    font-style: normal;
    padding-left:2%;
}
.site-title:hover{
   
    color:rgb(247, 220, 115);
    text-decoration: none;
}

.search-bar{
    width: 100%;
    margin:0px;
    padding-left:10%;
    padding-right:8%;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(39, 36, 47);
    /* box-shadow:0 1px 1px rgba(0,0,0,.5); */
}

.movie-id-search{
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin:0px;
}

.id-search-button{
    display:flex;
    margin-left:20px;
    box-shadow:0 1px 1px rgba(0,0,0,.5);
}

.row{
    width:100%;
    height:100%;
    margin:0px;
}

.banner{
    display:flex;
    justify-content: center; 
    height:100vh;       
    padding:5%;
    background-color:rgb(39, 36, 47);

}

.image{
    display:flex;
    position:relative;
    width:auto;
    height:40vh;
}

ul{
    height:100%;
    width:100%;
    margin:0px;
}

.categories{
    height:100%;
    width:100%;
    margin:0px;
}
.category-button{
    margin:0px;
    width:100%;
    padding:20px;
    font:20%;
    color:white;
}


.image{
    background-color:rgb(39, 36, 47);
    width:100%;
    margin:0px;
}

.form-control{
    display:flex;
}

.detail-button{
    width:75px;
}

.list-table{
    /* display:flex; */
    align-items: center;
    
}


.card.movie-card{
    display:flex;
    position:relative;
    flex-direction:row;
    height:50%;
    width:95%;
    padding: 3%;
    box-shadow:0 1px 1px rgba(0,0,0,.5);
}

.card-body.movie-card{
    width:100%
    
}

.row.movie-details{
    display:flex;
    width:100%;
    flex-direction:column;
    align-content: center;
    justify-content: space-around;
    padding-top:2%
   
}

.edit-menu{
    position:fixed;
    height:80%;
    width:60%;
    right:-100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: space-evenly;
    padding:10px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:1.5em;
    font-weight:lighter;
    background-color:#F5F5F5;;
    color:#17a2b8;
    transform: translateX(200%) translateY(30%);
    transition: .5s ease-in-out;
    z-index:1;
}
.edit-menu-is-active{
    right:50%;
    transform: translateX(50%) translateY(20%);
    background-color:#F5F5F5;
    transition: .5s ease-in-out;
    
}



.maroon{
    height:15px;
    width:100%;
    background-color:#9a1820;
}

.red{
    height:15px;
    width:100%;
    background-color:#e62528;
}

.orange{
    height:15px;
    width:100%;
    background-color:#f89d28;
}

.yellow{
    height:15px;
    width:100%;
    background-color:#FFCF13;
}

